@import "variable";

.jd_goods {
  margin-top: 20px;
  background-color: #fff;

  .jd_checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 5px;
    background-position: -180px -90px;
    &.checked {
      background-position: -180px -70px;
    }
  }
}

//   商品头部
.goods_title {
  height: 34px;
  border-top: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  padding-left: 34px;
  line-height: 32px;
  position: relative;

  > .fl {
    padding-left: 20px;
    position: relative;
    i {
      position: absolute;
      left: -3px;
      top: 8px;
      width: 20px;
      height: 20px;
      transform: scale(0.75);
    }
  }
  > .fr {
    padding-right: 10px;
  }
}
//   商品内容
.goods_content {
  height: 100px;
  border-bottom: 1px solid @borderColor;
  padding-left: 34px;
  position: relative;
  // 左侧图片
  .goods_img {
    float: left;
    width: 80px;
    height: 100%;
    padding-top: 10px;
  }
  // 右侧信息
  .goods_info {
    overflow: hidden;
    height: 100%;
    padding: 10px;
    position: relative;
    .info_bottom {
      height: 34px;
      width: 100%;
      padding: 0 10px;
      position: absolute;
      right: 0;
      bottom: 5px;
      // 数字框
      .number_box {
        width: 120px;
        height: 34px;
        border: 1px solid @borderColor;
        > div {
          float: left;
          width: 33.3%;
          height: 100%;
          line-height: 32px;
          text-align: center;
          &:nth-child(2) {
            border-left: 1px solid @borderColor;
            border-right: 1px solid @borderColor;
            input {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
            }
          }
        }
      }
      //   垃圾桶
      .delete_box {
        width: 20px;
        height: 22px;
        margin-top: 5px;

        &.current {
          .delete_up {
            transform: rotate(30deg);
          }
        }
        // 盖子
        .delete_up {
          width: 18px;
          height: 4px;
          background: url("../images/delete_up.png");
          background-size: 18px 4px;
          transform-origin: right bottom;
          transition: transform 1s;
        }
        .delete_down {
          width: 18px;
          height: 18px;
          background: url("../images/delete_down.png");
          background-size: 18px 18px;
          margin-top: -2px;
        }
      }
    }
  }
}
